body {
  padding: 30px;
  background-color: rgb(251, 251, 251);
}
* {
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(196, 199, 204); /* Color of the thumb */
  border-radius: 5px; /* Border radius of the thumb */
}
